[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sadface = "*"
argdb = { editable = true, ref = "feature/setup-fix", git = "https://github.com/chriswales95/ArgDB/" }
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
