h1
{
    font-size: 101pt;
}

.subTitle
{
    font-size: 72pt;
}

.instruction
{
    color: black;
}
p
{
    color: #656565;
    font-size: 18pt;
}

.logoSide
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.mainContainer
{
    padding: 200px 0;
    padding-left: 100px;
}

.mainContainer p
{
    padding-top: 2.5%;
    width: 50%;
}

.btn-standard
{
    text-align: center;
    width: 10%;
}

.btn-terminal
{
    text-align: left;
    width: 50%;
}

.search
{
    border: none;
    align-content: center;
}

.center
{
    
}