<!doctype html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
        </head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/home">
                    <img src="../static/img/logo-small.png" width="30" height="30" class="d-inline-block align-top" alt="Canary Logo">
                    Canary
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#"> • Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/input"> • Demo</a>
                      </li>
                  </ul>
                  <button class="btn btn-outline-primary">
                      V 1.0.0
                  </button>
                </div>
              </nav>
        <body>
            <div class="mainContainer">
                <h1>Canary</h1>
                <form>
                    <div class="form-group">
                        <input placeholder="Paste URL" type="text" class="form-control" id="urlinput"/>
                        <small class="form-text text-muted">Make sure the URL ends in .txt</small>
                    </div>
                </form>
                <form action="/upload" method = "POST" enctype="multipart/form-data">
                    <input class="btn btn-outline-primary btn-standard" type="file" name="file" />
                    
                    <button class="btn btn-outline-primary btn-standard" type="submit">Submit</button> 
                </form>
            </div>
        </body>
    </html>    
</html>